apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
  - port: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-counter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-counter
  template:
    metadata:
      labels:
        app: redis-counter
    spec:
      containers:
      - name: counter
        image: ghcr.io/kojotpg/redis-counter:latest
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: redis-counter-service
spec:
  selector:
    app: redis-counter
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: redis-counter-ingress
spec:
  entryPoints: [web]
  routes:
  - match: PathPrefix(`/counter`)
    kind: Rule
    services:
    - name: redis-counter-service
      port: 80
    middlewares:
    - name: counter-stripprefix
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: counter-stripprefix
spec:
  stripPrefix:
    prefixes: [/counter]